
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$title_font: 25px;

$default_color: #FFF;

//Font Colors
$grey: #807f84;
$blue: #0c4ab2;
$dark_blue: #152268;

//Sizes
$full: 100%;