@font-face {
	font-family: Rounded;
	src: url('../fonts/Rounded/MPLUSRounded1c-Medium.ttf');
  	font-display: swap;
}

@font-face {
	font-family: Raleway;
	src: url('../fonts/Raleway/Raleway-Medium.ttf');
  	font-display: swap;
}