@import "variables";
@import "fonts";
@import "bootstrap.css";
@import "font-awesome.css";
/*General*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rounded', sans-serif;
  margin-bottom: 0 !important;
}

h1 {
  font-size: 18px !important;
}

h5 {
  color: $grey;
  font-size: 16px !important;
}

body {
  font-family: 'Raleway', sans-serif;
}

.blue_logo {
  display: none;
}

.phone {
  color: #FFF;
  
  &:hover {
    color: #FFF;
  }
}

.width_20 {
  width: 20%;
  float: left;
}

.title {
  color: $blue;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  &::before {
    content: url("../images/icons/pen_small.png");
    margin-bottom: 0px;
    margin-right: -10px;
  }
}

.title_white {
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  &::before {
    content: url("../images/icons/pen_small_white.png");
    margin-bottom: 0px;
    margin-right: -10px;
  }
}

.title_clean {
  color: #FFF;
  text-align: center;
  padding: 20px 0 10px;
  text-transform: uppercase;
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0px 0px 40px 5px hsla(360, 100%, 100%, 1);
  }

  100% {
    box-shadow: 0px 0px 5px 0px hsla(0, 0%, 0%, 0);
  }
}

.shadow-pulse {
  animation-name: shadowPulse;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes shadowPulseBlue {
  0% {
    box-shadow: 0px 0px 40px 5px hsla(199, 100%, 50%, 1);
  }

  100% {
    box-shadow: 0px 0px 5px 0px hsla(0, 0%, 0%, 0);
  }
}

.shadow-pulse-blue {
  animation-name: shadowPulseBlue;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

a {
  &:hover {
	color: #FFF;
  }
  .card &:hover {
    color: $blue;
  }
  color: $blue;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
  &:focus {
    outline: none;
  }
}

#main_wrapper {
  margin: 0 auto;
}

.container-fluid {
  padding: 0;
}

h5 {
  font-size: 13px;
}

.section_padding {
  padding: 20px 0;
}

label.error {
  color: #dc3545;
  position: absolute;
}

.blue_line {
  height: 42px;
  background-color: $dark_blue;
}

.grey_border {
  background: url('../images/bg/grey_border.webp');
  height: 4px;
}

/*On Hover Images*/
.item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;

  img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  &:hover, &:focus {
    img {
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}

.item_modal {
  p {
    text-align: justify;
  }

  ul {
    li {
      text-align: justify;
      margin-bottom: 5px;
    }
  }
}

.consult_btn {
  text-transform: uppercase;
  position: absolute;
  z-index: 102;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px 10px;
  right: 0;
  top: 50px;
  background-color: #111e6f;
  color: #FFF;
  border: 1px solid #111e6f;
}

.consult_btn_blue {
  text-transform: uppercase !important;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px 10px;
  display: block;
  margin: 0 auto;
  background-color: #111e6f;
  color: #FFF;
  border: 1px solid #111e6f;
}

.more_btn_blue {
  text-transform: uppercase !important;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px 10px;
  display: block;
  margin: 0 auto;
  width: 100px;
  background-color: #111e6f;
  color: #FFF;
  border: 1px solid #111e6f;
}

.languages {
  font-size: 13px !important;
}

/*END GENERAL CLASES*/

.bottom_header {
  background: url('../images/bg/header_bg.webp');
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 800px;
  position: relative;

  .blue_box {
    background-color: rgba(26, 67, 180, 0.9);
    width: 100%;
    height: 278px;
    position: absolute;
    z-index: 0;
    top: -10px;
  }

  .main_logo {
    z-index: 2;
    position: absolute;
    top: -50px;
  }

  /*FINISHED GENERAL*/

  .top_part {
    margin-top: 10px;
    padding-top: 15px;

    ul.social_links {
      overflow: hidden;
      float: left;
      li {
        float: left;
        margin-right: 10px;
      }

      img {
        width: 25px;
      }
    }

    ul.contacts {
      float: right;
      color: #FFF;

      li {
		a {
		  color: #FFF;
		}

        &:nth-child(2) {
          img {
            margin-right: 17px;
          }
        }
      }
    }

    .main_nav {
      text-transform: uppercase;

      font-size: 14px !important;
    }

    #second_menu_row {
      margin-top: 30px;

      ul {
        z-index: 100;
        li{
          float: left;
          list-style: none;
          padding: 3px;

          &::after {
            content: '/';
            margin-left: 10px;
            color: #FFF;
          }

          &:last-child {
            &::after {
              content: '';
            }
          }

          a {
            color: #FFFEEE;
            padding: 2px;
          }
        }
      }

      .languages {
        float: right;

        .selected {
          a {
            background-color: #c40009;
            border-radius: 2px;
          }
        }

        li {
          &:last-child {
            padding-right: 0;
            &::after {
              margin-left: 0;
            }
          }
        }
      }

    }
  }

  .bottom_part {
    position: relative;
  }
}

.little_nav {
  padding: 18px 0 10px;
  background-color: $blue;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  display: none;

  .top_contacts {
    text-align: center;

    .contacts {
      color: #FFF;
      margin: 0 auto;
    }
  }

  .main_logo {
    margin-top: -50px;
    &:hover {
      cursor: pointer !important;
    }
  }

  ul{
    z-index: 100;
    li {
      float: left;
      list-style: none;
      padding: 3px;

      &::after {
        content: '/';
        margin-left: 10px;
        color: #FFF;
      }

      &:last-child {
        &::after {
          content: '';
        }
      }

      a {
        color: #FFFEEE;
        padding: 2px;
      }
    }
  }
  
  .main_nav {
    text-transform: uppercase;
    font-size: 14px !important;
  }

  .languages {
    float: right;

    .selected {
      a {
        background-color: #c40009;
        border-radius: 2px;
      }
    }

    li {
      &:last-child {
        padding-right: 0;
        &::after {
          margin-left: 0;
        }
      }
    }
  }
}

.help_with {
  position: relative;
  padding-bottom: 30px;

  .moveable_logo {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: -120px;
  }

  .help_with_wrapper {
    background-image: url('../images/bg/bg_with_logo.png');
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: 0 -200px;

    .container {
      padding-top: 8%;
    }

    img {
      display: block;
      margin: 25px auto 0;
      cursor: pointer;
    }

    h5 {
      padding-top: 10px;
      font-weight: bold;
      letter-spacing: 0.8px;
    }
  }

  .consult_btn_blue {
    margin-top: 20px;
  }
}

.work_toghether {
  @supports (background-image: -webkit-image-set(url('../images/bg/work_toghether_bg.webp') 1x)) {
	background-image: -webkit-image-set(url('../images/bg/work_toghether_bg.webp') 1x)
  }

  background-color: $dark_blue;
  background-size: 100%;
  background-position-y: -50px;
  height: 300px;
  padding: 20px 0px;

  .titles_wrap {
    text-align: center;
    color: #FFF;
    margin-top: 100px;

    p {
      font-size: 100px;
    }

    h1 {
      margin: 0;
      font-size: 30px !important;
      &:nth-child(2) {
        font-weight: normal;
      }
    }

  }
  
}

.about_us {
  background-color: #e5e5e5;

  .button_space {
    position: relative;
    padding-top: 30px;
    padding-bottom: 60px;
    button {
      position: absolute;
      right: 0;
      z-index: 10;
    }
  }

  .left_side_img {
    width: 128%;
    position: absolute;
    top: -15px;
    left: -30%;
  }
  
  .jurist_img_on_mobile {
    float: left;
    display: none;
  }

  .second_jurist_title {
    font-size: 20px;
  }

  .header {
    background-image: url('../images/bg/header_blue_bg.png');

    h1 {
      padding-bottom: 20px;
    }
  }

  .intro {
    color: $grey;
    text-align: justify;
    padding: 20px 0 10px;
    font-style: italic;
  }

  .principles {
    color: $blue;
    text-transform: uppercase;
    text-align: center;

    h4 {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 15px !important;
    }

    h6 {
      font-size: 13px;
      margin-bottom: 5px !important;
    }

    div {
      width: 33.3%;
      float: left;
      padding-top: 15px !important;
	  cursor: pointer;
    }
  }
}

.domains {
  box-shadow: 1px -10px 6px lightgrey;

  .domains_wrap {
    background: url("../images/bg/bg_with_logo.png");
    background-repeat: no-repeat;
    -webkit-background-size: 80%;
    background-size: 80%;
    background-position: 200px -295px;
  }

  .row {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  h5 {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.8px;
  }
}

.partners {
  .header {
    background-image: url('../images/bg/header_blue_bg.png');

    h1 {
      padding-bottom: 20px;
    }
  }

  .wrap {
    background-image: url("../images/bg/partners_bg.webp");
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;

    img  {
      width: 60%;
      margin: 20px auto;
    }

    .sirap_img {
      width: 30% !important;
    }
  }
}

.find_us {
  .header {
    background-image: url('../images/bg/header_blue_bg.png');

    h1 {
      padding-bottom: 20px;
    }
  }

  #map {
    width: 100%;
    height: 400px;
  }
}

.footer_contacts {
  background-image: url("../images/bg/contacts_bg.webp");
  height: 600px;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-color: $dark_blue;
  
  h3, h4 {
    text-align: center;
  }

  .header {
    -webkit-background-size: 100%;
    background-size: 100%;

    h1 {
      padding-bottom: 20px;
    }
  }

  .form_contacts {
    width: 300px;
    float: right;
    overflow: hidden;
    color: #FFF;
    
    h3 {
      font-size: 17px;
      text-align: center;
      text-decoration: underline;
    }

    .contacts_details {
      margin-top: 20px;
      li {
        margin-top: 5px;

        img {
          margin-right: 5px;
          width: 20px;
        }

        a {
          color: #FFF;
          padding-top: 20px;
        }
      }
    }
  }

}

footer {
  background-color: $dark_blue;
  color: #FFF;

  .copywrite {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 10px;
  }
}

.footer_contacts {
  #contact_form {
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.form_apply {
  overflow: hidden;

  #name-error {
	position: absolute;
	top: 17px;
	left: 181px;
  }

  #phone-error {
	position: absolute;
	top: 63px;
	left: 181px;
  }

  #terms-error {
    top: 100%;
  }


  input {
    border-radius: 20px;
    margin-top: 20px;
    padding-left: 40px;

	&[name="name"] {
      background: #FFF url("../images/contacts/form/name.png") no-repeat 10px 5px;
    }

    &[name="phone"] {
      background: #FFF url("../images/contacts/form/phone.png") no-repeat 10px 5px;
    }

    &[name="email"] {
      background: #FFF url("../images/contacts/form/email.png") no-repeat 10px 10px;
    }

    &.terms {
      margin-top: 5px;
    }
  }

  .send_btn {
    background-color: #AADAFF;
    border-radius: 10px;
    border: 1px solid blue;
    padding: 5px 10px;
    margin: 15px auto 0 auto;
    display: block;
  }
}

.formModal {
  .form_apply {
    input {
      width: 90%;
      margin: 10px auto;
    }

    input.terms {
      width: initial;
      margin: initial;
      position: initial;
    }

    .form-check {
      a:hover {
        color: #0c4ab2;
      }
    }
  }

  .modal-header {
    background-color: $blue;

    .close {
      margin-left: 0;
      color: lightgrey;
    }
    
    h4 {
      font-size: 16px;
    }

    img {
      width: 60px;
    }
  }
}

.show_little_nav {
  display: none;
  color: #FFF !important;
  font-size: 20px;
}

.little_nav_bar {
  display: none;
  position: fixed;
  z-index: 320;
  background-color: $blue;
  width: 100%;
  border-bottom: 1px solid white;
  text-align: center;
  padding: 15px 0;

  .second_nav {
    li {
      a {
        text-transform: uppercase;
      }
    }
  }

  .close_little_btn {
    color: #FFF;
    cursor: pointer;

    i {
      font-size: 30px !important;
    }
  }

  ul {
    li {
      a {
        color: #FFF;
      }
    }
  }
}

.bottom_social_links {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  li {
    float: left;

    img {
      margin-right: 15px;
      width: 20px;
      height: 20px;
    }
  }
}

.blog_with {
  .blog_with_wrapper {
	padding-bottom: 20px;
	.portfolio-item {
	  .card-title {
		font-size: 17.5px;
	  }
	  .card-body {
		position: relative;
		.more_btn_blue {
		  position: absolute;
		  bottom: 10px;
		  right: 36%;

		}
	  }
	}
	.consult_btn_blue {
	  margin-top: 20px;
	}

  }
}

#contact_form {
  .top_user_data {
	position: relative;
	#name-error, #phone-error { left: 121px; }
	#name-error {
	  top: 9px;
	}
	#phone-error {
	  top: 65px;
	}
  }
}

@import "media_query";