/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  .footer_contacts {
	-webkit-background-size: 120% !important;
	background-size: 120% !important;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 1199.98px) {
  .main_nav li a {
	font-size: 15px;
  }

  .footer_contacts {
	-webkit-background-size: 1600px !important;
	background-size: 1600px !important;
  }

}

@media (max-width: 1100px) {
  .work_toghether {
	height: 200px;
  }

  .work_toghether .titles_wrap {
	margin-top: 60px;
  }

  .work_toghether .titles_wrap h1 {
	font-size: 20px !important;
  }

  .bottom_header {
	height: 694px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991.98px) {
  .work_toghether {
	background-position-y: -15px;
  }

  .principles div {
	width: 33% !important;
  }

  .footer_contacts {
	-webkit-background-size: 100% !important;
	background-size: 100% !important;
  }

  .about_us .left_side_img {
	display: none;
  }

  .help_with_wrapper img {
	width: 180px;
	margin-bottom: 15px;
	padding-top: 15px;
  }

  .domains_wrap img {
	margin-bottom: 15px;
	padding-top: 25px;
  }

  .help_with_wrapper h5, .domains_wrap h5 {
	font-size: 14px !important;
	text-shadow: 1px 1px 1px lightgrey;
	color: #000;
  }

  .help_with .help_with_wrapper .container {
	padding-top: 0px;
  }

  .little_nav .top_contacts {
	margin-left: 207px;
  }

  .main_nav {
	display: none;
  }

  .contacts {
	float: right;
  }

  .social_links {
	margin-left: 21px;
  }

  .show_little_nav {
	display: block !important;
  }

  .bottom_header .blue_box {
	height: 213px;
  }

  .bottom_header .consult_btn {
	top: 16px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 820px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
  .work_toghether {
	height: 160px;
  }

  .titles_wrap {
	margin-top: 30px !important;
  }

  .item_modal p {
	font-size: 13px;
  }

  .item_modal ul {
	margin-left: 25px !important;
  }

  .item_modal ul li {
	font-size: 13px;
  }

  .form_contacts {
	float: none !important;
	margin: 0 auto !important;
  }

  h5 {
	font-size: 11px !important;
  }

  .help_with_wrapper .photo_wrap {
	float: none !important;
  }

  .about_us .width_20 {
	width: 50% !important;
	margin-bottom: 10px;
  }

  .about_us .width_20:last-child {
	text-align: center;
	width: 100% !important
  }

  .bottom_header {
	height: 554px;
  }

  .little_nav .top_contacts {
	margin-left: 10%;
  }

  .little_nav .main_logo {
	width: 100px;
  }

  .bottom_header .consult_btn {
	top: 0px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .single_blog_wrapper {
	.title {
	  padding-top: 0;
	}
	.main_image {
	  text-align: center;
	  margin-top: 5px;
	  margin-bottom: 5px;
	}
	.main_content {
	  text-align: center;
	  margin-top: 25px;
	}
  }

  .blog_with_wrapper {
	.portfolio-item {
	  margin: 0 auto 20px;
	}
  }

  .bottom_header .consult_btn {
	top: -8px;
  }

  .languages li::after {
	content: '' !important;
	margin-left: 0 !important;
  }

  .principles div {
	margin-top: 40px;
	width: 50% !important;
  }

  .partners .wrap img {
	margin: 5px auto !important;
  }

  .footer_contacts {
	-webkit-background-size: 100% !important;
	background-size: 100% !important;
	background-color: #152268;
  }

  .second_jurist_title {
	margin-bottom: 20px !important;
  }

  .jurist_img_on_mobile {
	display: block !important;
	width: 45%;
  }

  .titles_wrap {
	margin-top: 10px !important;
  }

  .work_toghether {
	-webkit-background-size: 100%;
	background-size: 100%;
	height: 90px;
	background-position-y: -5px;
	background-repeat: no-repeat;
  }

  .show_little_nav .fa {
	font-size: 26px !important;
  }

  .domains_wrap .width_20 {
	width: 100%;
  }

  .domains_wrap .width_20 img {
	width: 180px;
	margin: 0 auto;
  }

  .blue_logo {
	display: block;
	text-align: center;
	margin: 0 auto;
  }

  .bottom_header {
	height: 369px !important;
	background-position: 0 180px;
	margin-bottom: 20px;
  }

  .help_with .moveable_logo {
	display: none;
  }

  .social_links li a img {
	width: 20px;
  }

  .main_logo {
	width: 120px;
  }

  .bottom_header {
	height: 410px;
  }

  .little_nav .contacts li:last-child {
	display: none;
  }

  .little_nav .contacts li::after {
	content: '';
  }

  .little_nav {
	padding-top: 40px;
	padding-bottom: 0;
  }

  .little_nav .main_logo {
	margin-top: -30px;
	margin-bottom: 10px;
  }

  .little_nav .contacts {
	margin: 0 !important;
	position: absolute;
	top: 0;
	right: 10px;
  }
}

@media (max-width: 374px) {
  .bottom_header .blue_box {
	height: 157px;
  }

  .main_logo {
	top: -40px !important;
	left: 30px;
  }

  .contacts {
	font-size: 14px;
  }

  .contacts img {
	width: 20px;
  }

  .contacts li:last-child {
	display: none;
  }
}


